.sidebarButtonContainer {
  margin: 0 15px 10px 15px;
  padding: 2px 8px;
  height: 30px;
  width: 170px;
  border-radius: 5px;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  & p {
    font-size: 14px;
    height: 18px;
    padding: 0 8px;
  }

}

.sidebarButtonContainer:hover, .sidebarButtonContainer.active {
  cursor: pointer;
  background-color: #374151;
}
