@import "src/styles/main";
.sidebarButtonContainer {
  margin: 0 15px 15px 15px;
  padding: 2px 8px;
  height: 30px;
  width: 170px;
  background-color: darkgreen;
  border-radius: 5px;
  user-select: none;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;

  & p {
    font-size: $body;
    height: 18px;
    padding: 0 8px;
  }

}

.sidebarButtonContainer:hover {
  cursor: pointer;
}
